<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bouveti.geophone">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="23" />

    <!-- OpenGL ES V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Repertoire -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- Maps -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Coordonées -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- SMS -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- Vibration -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- Wifi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="locale|orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RechercheActivity"
            android:label="@string/recherche"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PasswordActivity"
            android:label="@string/mot_de_passe"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgottenActivity"
            android:label="@string/mot_de_passe_oublié"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InitialisationActivity"
            android:label="Initialisation"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <receiver class=".SmsReader"
            android:name="com.example.bouveti.geophone.SmsReader">
            <intent-filter android:priority="100">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- Clé API Google Maps v2 -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC_is1Eb3G15VJzsRL1WRoUepasLhvrLbo" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".RechercheRapprocheeActivity"
            android:label="@string/title_activity_recherche_rapprocher"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>